<!DOCTYPE HTML>

<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Skills Analysis using Pie Chart</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css')}}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
	<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js')}}"></script>	
	<style>
    
	input[type=file]::file-selector-button {
	  border: 2px solid #000000;
	  padding: .2em .4em;
	  border-radius: .2em;
	  background-color: #17B794;
	  transition: 1s;
	}

	input[type=file]::file-selector-button:hover {
	  background-color: #81ecec;
	  border: 2px solid #00cec9;
	}

	</style>
	</head>
	<body>
		
	<div class="gtco-loader"></div>
	
	<div id="page">

		<nav class="gtco-nav" role="navigation">
			<div class="gtco-container">
				
				<div class="row">
					<div class="col-sm-2 col-xs-12">
						<div id="gtco-logo"><a href="index.html"><img src="{{ url_for('static', filename='images/logo.png')}}" alt="Free HTML5 Website Template by FreeHTML5.co"></a></div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="active"><a href="index.html">Analysis</a></li>
							<li><a href="resume_loader.html">Ranking</a></li>
							
						</ul>
					</div>
				</div>
				
			</div>
		</nav>

		<header id="gtco-header" class="gtco-cover" role="banner">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">
						<div class="display-t">
							<div class="display-tc">
								<div class="row">
									<div class="col-md-5 text-center header-img animate-box">
										<img src="{{ url_for('static', filename='images/cube.png')}}"" alt="Free HTML5 Website Template by FreeHTML5.co">
									</div>
									<div class="col-md-7 copy animate-box">
										<h1>Skills Analysis</h1>
										<p>We really believe that everyone has a talent, ability, or skill that he can mine to support himself and to succeed in life..</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
	
		

	<div class="gtco-services gtco-section">
			<div class="gtco-container">
						<div class="col-md-8 col-md-offset-2  text-center">
						<h2 style="font-size:40px">Resume Reviewer</h2>
						<p style="font-size:18px">Our system will analyze your resume and identify professional skills and business skills and it shows in beautiful pie-chart..</p>
						</div>
				
				<div class="row-pb-md" style="margin-left:250px;">
					<div class="col-md-8 col-sm-6 service-wrap">
						<div class="service">

	         <form action="/predict" method="post" enctype="multipart/form-data">
			 <h3 style="font-family: sans-serif;font-weight: normal;margin-left:55px;"><i class="ti-file"></i>Upload Resume:</h3><br>
                <center>
            <input id="file" type="file" name="image" onchange="readURL(this);" class="upload" required>
               </center>
			   <br><br>
                <input type="submit" value="Pie Chart"   style="background-color:#17B794;color:#000000;border:2px solid black;">

            </form>
	
						
						</div>
					</div>
					
					</div>
					
					</div>
					</div>
				
	{% if filename %}
        <div>
			<center>
            <img height="1000px" width="1000px" src="{{ url_for('display_image', filename=filename) }}" >
			</center>
        </div>
    {% endif %}


	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<script src="{{ url_for('static', filename='js/jquery.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js')}}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/owl.carousel.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js')}}"></script>
	<script src="{{ url_for('static', filename='js/magnific-popup-options.js')}}"></script>
	<script src="{{ url_for('static', filename='js/main.js')}}"></script>

	</body>
</html>

